In [1]:
import json
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import json_normalize

In [2]:

df = pd.read_excel('data-set.xlsx', sheet_name='SEWAATM', header=None)
df = pd.DataFrame(df)
df.drop([0,1,2,3, 65780], inplace = True)
df = df.dropna(how = 'all')
#df = df.apply(lambda x: pd.Series(x.dropna().values))

In [3]:
print(df.iloc[0])
print(type(df.iloc[0]))

0                   NO
1      Tanggal Request
2          Nama LOKASI
3                 KOTA
4            MASA SEWA
            ...
274                NaN
275                NaN
276            Tagihan
277                NaN
278                NaN
Name: 4, Length: 279, dtype: object
<class 'pandas.core.series.Series'>

In [4]:
df.to_csv (r'TempDataSEWA.csv', index=False, header=False)

In [5]:
data = pd.read_csv('TempDataSEWA.csv')
data = pd.DataFrame(data)
data.drop([0,1], inplace = True)

print(data.columns)

Index(['NO', 'Tanggal Request', 'Nama LOKASI', 'KOTA', 'MASA SEWA', 'Delivery',
       'Type', 'Jatuh tempo', 'Tagihan', 'Unnamed: 9',
       ...
       'Unnamed: 269', 'Tagihan.99', 'Unnamed: 271', 'Unnamed: 272',
       'Tagihan.100', 'Unnamed: 274', 'Unnamed: 275', 'Tagihan.101',
       'Unnamed: 277', 'Unnamed: 278'],
      dtype='object', length=279)

In [6]:
data

,NO,Tanggal Request,Nama LOKASI,KOTA,MASA SEWA,Delivery,Type,Jatuh tempo,Tagihan,Unnamed: 9,...,Unnamed: 269,Tagihan.99,Unnamed: 271,Unnamed: 272,Tagihan.100,Unnamed: 274,Unnamed: 275,Tagihan.101,Unnamed: 277,Unnamed: 278
2,1.0,2010-09-21 00:00:00,PLN Kota,Jkt-HUB II RPC,NaN,2010-10-07 00:00:00,522,2013-10-01 00:00:00,379-11-10,2010-10-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.0,2010-09-21 00:00:00,Perumnas,Jkt-HUB I RPC,NaN,2010-10-07 00:00:00,522,2013-10-01 00:00:00,379-11-10,2010-10-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,2010-09-21 00:00:00,Tip Top Depok,Jkt-HUB VIII RPC,NaN,2010-10-07 00:00:00,522,2013-10-01 00:00:00,379-11-10,2010-10-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,2010-09-21 00:00:00,Tip Top Pdk Bambu,Jkt-HUB VI RPC,NaN,2010-10-07 00:00:00,522,2013-10-01 00:00:00,379-11-10,2010-10-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,5.0,2010-09-21 00:00:00,Tip Top Rawamangun,JKT-HUB VII,NaN,2010-10-07 00:00:00,529EPP7,2013-10-01 00:00:00,379-11-10,2010-10-01 00:00:00,...,NaN,070-03-19,2019-03-01 00:00:00,NaN,095-04-19,2019-04-01 00:00:00,NaN,122-05-19,2019-05-01 00:00:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1250,1.0,NaN,Mataram,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1251,2.0,Nov'13,Banjarmasin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1252,3.0,Nov'13,Banjarmasin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1253,4.0,Nov'13,Malang,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1254,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data = data.dropna(subset=['Tanggal Request'])
data = data.dropna(subset=['Delivery'])
data = data.dropna(subset=['Jatuh tempo'])
data

,NO,Tanggal Request,Nama LOKASI,KOTA,MASA SEWA,Delivery,Type,Jatuh tempo,Tagihan,Unnamed: 9,...,Unnamed: 269,Tagihan.99,Unnamed: 271,Unnamed: 272,Tagihan.100,Unnamed: 274,Unnamed: 275,Tagihan.101,Unnamed: 277,Unnamed: 278
2,1.0,2010-09-21 00:00:00,PLN Kota,Jkt-HUB II RPC,NaN,2010-10-07 00:00:00,522,2013-10-01 00:00:00,379-11-10,2010-10-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.0,2010-09-21 00:00:00,Perumnas,Jkt-HUB I RPC,NaN,2010-10-07 00:00:00,522,2013-10-01 00:00:00,379-11-10,2010-10-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,2010-09-21 00:00:00,Tip Top Depok,Jkt-HUB VIII RPC,NaN,2010-10-07 00:00:00,522,2013-10-01 00:00:00,379-11-10,2010-10-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,2010-09-21 00:00:00,Tip Top Pdk Bambu,Jkt-HUB VI RPC,NaN,2010-10-07 00:00:00,522,2013-10-01 00:00:00,379-11-10,2010-10-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,5.0,2010-09-21 00:00:00,Tip Top Rawamangun,JKT-HUB VII,NaN,2010-10-07 00:00:00,529EPP7,2013-10-01 00:00:00,379-11-10,2010-10-01 00:00:00,...,NaN,070-03-19,2019-03-01 00:00:00,NaN,095-04-19,2019-04-01 00:00:00,NaN,122-05-19,2019-05-01 00:00:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1196,1195.0,2020-04-24 00:00:00,KK TUBAN,SURABAYA,4,2020-11-18 00:00:00,GRGW10,2024-12-01 00:00:00,299-12-20,2020-12-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1197,1196.0,2020-04-24 00:00:00,KK SAMPANG,SURABAYA,4,2020-11-18 00:00:00,GRGW10,2024-12-01 00:00:00,299-12-20,2020-12-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1199,1198.0,2020-06-11 00:00:00,KK PRAYA MATARAM,MATARAM,4,2020-09-10 00:00:00,GRGW10,2024-10-01 00:00:00,228-10-20,2020-10-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1207,1206.0,2020-07-16 00:00:00,KK JOMBANG,SIDOARJO,4,2020-11-18 00:00:00,GRGW10,2024-12-01 00:00:00,299-12-20,2020-12-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1213,1212.0,2020-05-05 00:00:00,GIANT EXTRA SERANG,CILEGON,4,2020-09-04 00:00:00,GRGW10,2024-09-01 00:00:00,NaN,2020-09-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
data.to_csv('NewDataSewa.csv', index=False)